<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSCS.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NSCS.WinApp.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value>C:\DayEnd.log</value>
            </setting>
            <setting name="searchText" serializeAs="String">
                <value />
            </setting>
            <setting name="AllSites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152    </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string />
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                        <string>162         </string>
                        <string>929          </string>
                        <string>159        </string>
                        <string>848       </string>
                        <string>152      </string>
                    </ArrayOfString>
                </value>
            </setting>
        </NSCS.WinApp.Properties.Settings>
    </userSettings>
</configuration>